{% load static %}
<!DOCTYPE html>
<head>
    <title> Fit </title>
    <link rel="stylesheet" href="{% static "style/bulma.css" %}">
    <link rel="stylesheet" href="{% static "style/font-awesome.min.css" %}">
</head>
<body>
<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item"> FIIT </a>
  </div>
  <div class="navbar-start">
    <a class="navbar-item">Home</a>
    <a class="navbar-item">About</a>
  {% if user.is_authenticated %}
    <a class="navbar-item">My Routines</a> 
    <a class="navbar-item">My Profile</a>
  </div>
  <div class="navbar-end">
      <a class="navbar-item" href="{% url 'users:logout'%}">Logout</a>
  </div>
  {% else %}
  </div>
  <div class="navbar-end">
    <a class="navbar-item" href="{% url 'users:Login'%}">Login</a>
    <a class="navbar-item" href="{% url 'users:register'%}">Register</a>
  </div>
  {% endif %}
</nav>
{% block content %}

{% endblock content %}
</body>
