{% extends "routines/base.html" %}
{% block content %}
  <form action = "{% url 'routines:edit_routine' routine.id %}" method="POST">
    {% csrf_token %}
    <div id="wo_form_set"><ol id="wo_list" >
      {{wo_formset.management_form}}
      {% for wo_form in wo_formset %}
      <li><div id="workout"><table>
        {{wo_form.id}}
        {{wo_form.routine}}
        <th>{{wo_form.day}}</th>
        <th colspan = "4">{{wo_form.name}}</th>
        <th class="js-remove">X</p>
        <th style="display:none"> {{wo_form.DELETE}}</th>
      </table></div></li>
      {% endfor %}
    </ol></div>
    <div id="deleted" style="display: none">
    
    </div>
  <input type="submit">
  </form>
  <input type="button" value="add form" id="add_form" class="add_wo">
{% load static %}
<script>var routine_id={{routine.id}}</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static "routines/Sortable.min.js"%}" ></script>
<script src="{% static "routines/edit_routine.js"%}" ></script>
{% endblock content %}
