{% extends "routines/base.html" %}
{% block content %}
  <form action = "{% url 'routines:edit_routine' routine.id %}" method="POST">
      {% csrf_token %}
    <div id="wo_form_set">
      <table>
        {{form.as_table}}
      </table>
      <i class='js-remove'>✖</i>
    </div>
  <input type="submit">
  </form>
  <input type="button" value="add form" id="add_form">
  
  <div id="empty_form" style="display:none">
    <table>
        {% with form|last as last %}
          {{last}}
        {% endwith %}
    </table>
  </div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>
  $('#add_form').click(function() {
          var form_label = '#id_workout_set-TOTAL_FORMS'
          var form_idx = $(form_label).val();
          $('#wo_form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
          $(form_label).val(parseInt(form_idx) + 1);
  });
  </script>
<!--- Rubaxa Sortable --!>
<ul id="foo">
  <li>foo 1</li>
  <li>foo 2</li>
  <li>foo 3</li>
</ul>
<ul id="bar">
  <li>bar 1</li>
  <li>bar 2</li>
  <li>bar 3</li>
</ul>
<ul id="qux">
  <li>qux 1</li>
</ul>
<ul id="editable">
  <li>edit 1
  </li>
</ul>
<!-- Javascript --!>
{% load static %}
<script src="{% static "routines/Sortable.min.js"%}" ></script>
<script src="{% static "routines/edit_routine.js"%}" ></script>
{% endblock content %}
