{# Note: Have to reconsider the effeciency of my datamodel #}
{% extends "routines/base.html" %}

{% block content %}
  <h1 class="title"> Overview for {{routine.name}} </h1>
  <h2 class="subtitle">{{routine.desc}}</h2>
  {# using wo_list #}
  {% for day,wo in wo_dict.items %}
    <p>[{{day}}] 
    {% for i in wo %}
      {{ i.name }}
      {% if forloop.revcounter0 > 0 %}
        ,
          {% endif %}
    {% endfor %}
    :
    {% for ex in ex_dict|get_item:day %}
      {{ex.name}}[{{ex.sets}} X {{ex.reps}}]
      {% if forloop.revcounter0 > 0 %}
        ,
          {% endif %}
    {% endfor %}
    <br>
    </p>
  {% endfor %}
{% endblock content %}

